@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
body { background: #DDD6CC; font: 12px "宋体", "Arial Narrow", HELVETICA; color: #3F3E3C; line-height: 1.5; }
img { border: 0; vertical-align: middle }
p { display: block; }
ul { list-style: none; }
a { color: #a6a6a6; text-decoration: none; transition: All 0.5s ease; -webkit-transition: All 0.5s ease; -moz-transition: All 0.5s ease; -o-transition: All 0.5s ease; }
a:hover { color: #000; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
/* nav */
/* header */
.quotes {min-height: 144px; width: 1000px; position: relative; margin: 0px auto 120px auto; padding-top: 63px;}
.quotes p { color: #fff; width: 330px; line-height: 26px; }
.text5 { left: 0px; top: 160px; font-family: "微软雅黑"; font-size: 30px; color: #FFF;  }
.flower { position: absolute; right: 0; top: 60px; /*background: url(../images/flower.png) no-repeat;*/ width: 173px; height: 175px; z-index: 2 }
.flower img {  display: block; width: 100px;height: auto;}
/*菜单栏*/
li.current-menu-item{
    background: #E15782;
    border-radius: 50px 0;
}
ul,li{
	padding:0;
	margin:0;
	list-style:none;
}
a{
	text-decoration:none;
}
#nav li{
	width:initial;
	line-height:30px;
	float:left;
}
#nav li.menu-item-has-children {
    min-width: 110px;
}
.sub-menu{
	display:none;
}
#nav { 
	width: 100%; 
	line-height: 50px; 
	height: 50px; 
	font-family: "微软雅黑"; 
	font-size: 16px; 
	background: rgba(56, 134, 72, 0.43); 
	text-align: center; 
	position: relative; 
	border-bottom: #559765 1px solid 
}
#nav ul { 
	width: 770px; 
	margin: auto;  
	overflow: hidden ;
    z-index: 99;
    position: inherit;
}
#nav ul li {
	padding: 10px 20px; 
	text-align: center; 
}
#nav ul li:hover {
    background:#58950a;
    border-radius: 50px 0;
}
#nav ul li a { color: #fff; }
#nav li.menu-item-has-children:hover {
    background: #498444;
}
/* mainContent */
.mainContent { background: #E8E5DD; width: 1000px; margin: 20px auto; overflow: hidden }
aside { width: 270px; float: left; }
.avatar { margin: 20px auto; width: 160px; height: 160px; border-radius: 160px; -moz-border-radius: 160px; -webkit-border-radius: 160px; overflow: hidden; }
.avatar a { display: block; padding-top: 97px; width: 160px; height: 63px; background: url(../images/photo.jpg) no-repeat; background-size: 160px 160px }
.avatar a span { display: block; margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; text-align: center; font-size: 16px; line-height: 20px; color: #fff; background: rgba(0, 0, 0, .5); -webkit-transition: margin-top .2s ease-in-out; -moz-transition: margin-top .2s ease-in-out; -o-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; }
.avatar a:hover span { display: block; margin-top: 0; }
.topspaceinfo { background: #3c7e42; padding: 40px 20px; color: #fff }
.topspaceinfo h1 { font-size: 16px; line-height: 40px }
.userinfo { padding: 20px 30px 30px; font-size: 14px; line-height: 28px; color: #666; }
.userinfo a { color: #3c7e42; }
.userinfo a:hover { color: #000 }
.q-fans, .btns a { padding: 0 10px }
.q-fans a { font-weight: bold; }
.btns a { border-right: #dad9d5 1px solid; }
aside section { display: block; overflow: hidden }
aside section h2 { background:#3C7E42; color: #FFF; padding-left: 30px; height: 30px; line-height: 30px; font-size: 14px; }
.newpic ul{ padding: 20px 30px; overflow: hidden }
.newpic ul li { display: inline; width: 50px; height: 50px; }
.newpic ul li img { width:50px; height:50px; display: block; float: left; border: 1px solid transparent; }
.newpic ul li img:hover { opacity: 0.5 }
.taglist ul { overflow: hidden;padding: 10px; }
.taglist ul a:nth-child(9n+0){color: #3F51B5;}
.taglist ul a:nth-child(9n+1){color: #FF9800;}
.taglist ul a:nth-child(9n+2){color: #9E9E9E;}
.taglist ul a:nth-child(9n+3){color: #FF5722;}
.taglist ul a:nth-child(9n+4){color: #aa2554;}
.taglist ul a:nth-child(9n+5){color: #5e5d5a;}
.taglist ul a:nth-child(9n+6){color: #009688;}
.taglist ul a:nth-child(9n+7){color: #4CAF50;}
.taglist ul a:nth-child(9n+8){color: #9C27B0;}
.taglist ul a { padding: 2px 5px; display: inline-block; float: left; margin-right: 5px; }
.taglist ul a:hover { background: #f16e50; color: #fff; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px }
/*侧栏跟随*/
.div1{
width: 210px;
 background: url(../images/pro_bg.png);
    height: 248px;
    margin: auto;
}
.div1 img{
    width: 188px;
    height: 182px;
    position: relative;
    top: 50px;
    left: 11px;
}
div#div-pin {
    background: url("../images/pin.png") no-repeat center center;
    width: 38px;
    height: 38px;
    display: block;
    margin: auto;
    margin-bottom: -27px;
    z-index: 10;
    position: relative;
}
#float{
    -webkit-animation: error-swing infinite 2s ease-in-out alternate;
    -moz-animation: error-swing infinite 2s ease-in-out alternate;
    animation: error-swing infinite 2s ease-in-out alternate;
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    transform-origin: center top;
}
@-webkit-keyframes error-swing{
0%{-webkit-transform:rotate(1deg)}
100%{-webkit-transform:rotate(-2deg)}
}
@-moz-keyframes error-swing{
0%{-moz-transform:rotate(1deg)}
100%{-moz-transform:rotate(-2deg)}
}
@keyframes error-swing{
0%{transform:rotate(1deg)}
100%{transform:rotate(-2deg)}
}
/* 我的音乐 */
.viny{width: 266px;margin: 10px auto}
.viny dl dd { color: #333; line-height: 24px; }
.art { background: url(http://www.lmlblog.com/blog/12/images/vinyl.png) no-repeat left; width: 130px; float: left; background-size: 120px; }
.viny .art img { width: 90px; height: 90px; margin-left: 11px }
.viny dd span { width: 12px; height: 24px; margin-right: 7px; float: left; display: block; }
.icon-song span, .icon-artist span, .icon-album span, .icon-like span { background: url(http://www.lmlblog.com/blog/12/images/icons.png) no-repeat }
.icon-song span { background-position: -33px -344px }
.icon-artist span { background-position: -16px -344px }
.icon-album span { background-position: 0 -344px }
.icon-like span { background-position: -1px -299px; }
.icon-like a { color: #B5783E }
.icon-like a:hover { color: #FFF; text-decoration: underline }
.music audio { width: 100%; padding-top: 10px }
.blogitem { width: 730px; background: #fff; float: right }
.blogitem article { border-bottom: #F4F3EF 30px solid; }
.title { background: url(../images/titlebg.png) no-repeat 5% 80%; font-size: 20px; line-height: 28px; display: inline-block; padding: 38px 60px 8px 80px; border-bottom: 1px solid #e2e2e2; width: 100%; }
.title a { color: #454545; }
.title a:hover { padding: 20px }
.text { font-size: 14px; padding: 20px 40px; }
.text p { line-height: 24px; margin-bottom: 10px }
.textimg { text-align: center }
.textimg img { max-width: 500px; width:expression(document.body.clientWidth > 500? "500px": "auto" );}/*for ie6*/
.textfoot { padding: 20px 60px; border-top: 1px solid #dddcdb; text-align: right; box-shadow: #999 2px 2px 3px }
.textfoot a { margin-left: 10px; }
.pages { padding: 0 60px 25px; background: #F4F3EF; text-align: right }
.pages span { background: #3c7e42; color: #fff; }
.pages a { background: #fff; color: #454545; padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages span { padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages a:hover { background: #CCC }
/* footer */
footer {margin-top:68px; border-top:5px solid #1d953f; background: #242221; width: 100%; }
.footavatar { width: 700px; margin: auto; position: relative; color: #666; }
.footavatar img{ height:138px}
.footphoto { position: absolute; top: -58px; left: 20px; display: block; border: #1d953f 3px solid; }
.footinfo { display: block; padding: 0 0 0 180px }
.fname { color: #f16e50; margin-top: 16px; font-size: 18px; line-height: 28px; }
.fname a { color: #f16e50; }
.finfo { line-height: 22px; }
.visitor { width: 800px; margin: 40px auto 0; clear: both; border-top: 1px solid #32302e; padding-top: 20px; overflow: hidden; }
.visitor h2 { color: #fff; font-size: 14px; font-weight: normal; padding: 0 20px 0 }
.visitor ul { padding: 20px }
.visitor ul li img { width: 78px; height: 78px; display: block; border: #FFF 2px solid }
.visitor ul li a { float: left; margin-right: 10px }
.visitor ul li a:hover { opacity: 0.5 }
.Copyright { text-align: center; color: #959595; }
.n-a{
   margin: 0 10%;
   height: 40px;
}
.n-a p{font-size:14px; padding:10px;}